/*Tag Selectors*/

body {
    background-color: #A8C6FF;
}

hr {
   border-style: none;
   border-top-style: dotted;
   border-color: gray;
   border-width: 7px;
   height: 0px;
   width: 10%;
}

h1 {
    color: black
}

h3 {
    color: #2F0BFF
}

a {
    color: black;
}

/*Class Selectors - Start with . Class overrides Selector*/




/*ID Selectors -  Start with # ID overrides Class*/
/* ID's must be unique */

